= render 'shared/errors', resource: @question

p= button_to 'Log out', destroy_user_session_path, method: :delete
p= link_to 'Log in', new_user_session_path, method: :post

- @questions.each do |q|
  p= link_to q.title, q

p= link_to 'Ask question', new_question_path